{% extends 'base.html.twig' %}

{% block title %}Zoofony{% endblock %}

{% block body %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <div class="exemple-wrapper">
        <h1>Your spaces</h1>
        <table class="table table-stripped">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>First Name</th>
                <th>Opening Date</th>
                <th>Closing Date</th>
                <th>Paddocks</th>
                <th></th>
            </tr>
            {% for s in spaces %}
                <tr>
                    <td>{{ s.id }}</td>
                    <td>{{ s.name }}</td>
                    <td>{{ s.size }}</td>
                    <td>{{ s.openDate|date('Y-m-d') }}</td>
                    <td>{{ s.closeDate|date('Y-m-d') }}</td>
                    <td>
                        {% for p in s.paddocks %}
                            {{ p.name }}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ path("modify_space", {"id":s.id}) }}" class="btn btn-warning">modify</a>
                        <a href="{{ path("delete_space", {"id":s.id}) }}" class="btn btn-danger">delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <h2>Add a space to the zoo</h2>
        {{ form(formular) }}
    </div>
{% endblock %}
